.search-box {
  position: relative;
}

.search-box .spinner {
  position: absolute;
  top: 33px;
}

.instant-order-search-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 0px 15px 15px 15px;
  overflow-y: unset;
  z-index: 99999;
}

.instant-order-search-result {
  display: flex;
  padding: 10px 0;
  margin-top: 15px;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
}

.instant-order-search-result:hover {
  opacity: 0.8;
}

.instant-order-search-result.completed {
  background-color: #E7F2E9;
}

.instant-order-search-result.processing {
  background-color: #C6E0C7;
}

.instant-order-search-result.on-hold {
  background-color: #F8DDA7;
}

.instant-order-search-result.pending {
  background-color: #E4E4E5;
}

.instant-order-search-result.cancelled {
  background-color: #1C2326;
  color: #fff;
}

.instant-order-search-result.refunded {
  background-color: #D73738;
  color: #fff;
}

.instant-order-search-result.failed {
  background-color: #EAA3A2;
}

.instant-order-search-result.draft {
  background-color: #2C3239;
  color: #fff;
}

.instant-order-search-result > div {
  flex: 1;
  text-align: center;
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  text-decoration: none;
}

.instant-order-search-results-container {
  padding: 2rem 3rem;
}

input#instant-search-input {
  width: 100%;
}

.no-scroll {
  overflow: hidden;
}

.instant-order-search-results {
  overflow-y: auto;
  height: 80vh;
  padding: 0px 10px;
  margin-top: 10px;
}

.instant-order-search-results::-webkit-scrollbar {
  width: 8px;
}

.instant-order-search-results::-webkit-scrollbar-track {
  background-color: #fff;
}

.instant-order-search-results::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}

.instant-order-search-results::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.service-container {
  position: sticky;
  bottom: 0px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
  text-align: center;
}

.service-container a {
  color: #48BEA4;
  text-decoration: none;
  font-weight: 700;
}

.service-container a:hover {
  text-decoration: underline;
}